.navBar {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 172px;
    height: 768px;
    background-color: var(--black-text);
    font-size: var(--small-font);
    color: var(--gray-text);
}

.gradientOne {
    position: absolute;
    top: 36px;
    left: 32px;
    width: 74px;
    height: 21px;
}

.sections {
    position: absolute;
    top: 125px;
    display: flex;
    flex-direction: column;
}

.sctn {
    display: flex;
    flex-direction: column;
}

.sectionItem {
    display: flex;
    align-items: center;
    gap: 17px;
}

.lineOne {
    border: 0.5px solid var(--navbar-gray);
    width: 172px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.moreOptionsSection {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 173px;
    left: 28px;
    background-color: var(--navbar-gray);
    color: var(--profile-pic-gray);
    padding: 20px 8px;
    border-radius: 9px;
    width: 116px;
    height: 111px;
}

.arrowDown {
    position: absolute;
    top: 275px;
    width: 0; 
    height: 0; 
    margin-left: 25%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid var(--navbar-gray);
}

.option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.createNewSection {
    position: absolute;
    top: 580px;
    left: 27px;
    display: flex;
    align-items: center;
}

.orangeBtn {
    padding-left: 20px;
}

.plus {
    width: 21px;
    height: 21px;
    border: none;
    border-radius: 4px;
    background-color: var(--plus-orange);
    color: var(--white);
    position: absolute;
    left: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.pointer {
    background-color: var(--black-text);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 7px;
    height: 44px;
}

.selected {
    border-color: var(--white);
    background-color: var(--white);
}   

.navBarBtn {
    margin-left: 14.5px;
    border-color: var(--gray-text);
    background-color: var(--black-text);
}

.options {
    margin-left: 7px;
    border-color: var(--white);
    background-color: var(--navbar-gray);
}

.option {
    display: flex;
    gap: 5px;
}

.selectedButton {
    border: 1px solid var(--white);
    background-color: var(--black-text);
}

.selectedLabel {
    color: var(--white);
}