@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Variables */
:root { 
  --font: 'Roboto', sans-serif;
  --detail-font: 8px;
  --small-font: 10px;
  --medium-font: 12px;
  --subheader-font: 14px;
  --header-font: 20px;
  --percentage-font: 24px;
  --black-text: #343951;
  --gray-text: #858A9D;
  --line-color: #E0E7F1;
  --light-gray: #C4C4C4;
  --background-gray: #F5F6FC;
  --profile-pic-gray: #BEC0C8;
  --button-gray: #9D9FAF;
  --off-gray: #BCBECA;
  --white:#FFFFFF;
  --orange: #FF9F00;
  --light-orange: #FFD999;
  --aqua: #4AC29D;
  --magenta: #FF6860;
  --blue: #689FF8;
}

.App {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  margin: 0;
  font-family: var(--font);
  position: relative;
  width: 1027px;
  height: 768px;
}

.headerTitle {
  font-size: var(--header-font);
  color: var(--black-text);
}

.regularTxt {
  font-size: var(--medium-font);
  color: var(--black-text);
}

.detailFont {
  font-size: var(--detail-font);
  color: var(--gray-text);
}

.btn {
  height: 15px;
  width: 15px;
  border: 1px solid var(--button-gray);
}

.btns {
  display: flex;
  justify-content: space-between;
  width: 40px;
}

.orangeBtn {
  display: flex;
  align-items: center;
  background-color: var(--orange);
  color: var(--white);
  font-size: var(--small-font);
  width: 116px;
  height: 30px;
  border: none;
  border-radius: 7px;
}

.circle {
  width: 18px;
  height: 18px;
  border: 1px solid var(--profile-pic-gray);
  border-radius: 50%;
  background-color: var(--white);
}

.orange {
  background-color: var(--orange);
}

.aqua {
  background-color: var(--aqua);
}

.magenta {
  background-color: var(--magenta);
}

.lightOrange {
  background-color: var(--light-orange);
}

.blue {
  background-color: var(--blue);
}

.gray {
  background-color: var(--off-gray);
}
