@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  width: 1027px;
  height: 768px;
}

.App {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
}

.headerTitle {
  font-size: 20px;
}

.btn {
  height: 15px;
  width: 15px;
  border: 1px solid #9D9FAF;
}

.btns {
  display: flex;
  justify-content: space-between;
  width: 40px;
}

.orangeBtn {
  display: flex;
  align-items: center;
  background-color: #FF9F00;
  color: #FFFFFF;
  font-size: 10px;
  width: 116px;
  height: 30px;
  border: none;
  border-radius: 7px;
}