@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Variables */
:root { 
  --font: 'Roboto', sans-serif;
  --detail-font: 8px;
  --small-font: 10px;
  --medium-font: 12px;
  --header-font: 20px;
  --black-text: #343951;
  --gray-text: #858A9D;
  --line-color: #E0E7F1;
  --light-gray: #C4C4C4;
  --background-gray: #F5F6FC;
  --white:#FFFFFF;
  --orange: #FF9F00;
  --light-orange: #FFD999;
}

.App {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  margin: 0;
  font-family: var(--font);
  position: relative;
  width: 1027px;
  height: 768px;
}

.headerTitle {
  font-size: var(--header-font);
  color: var(--black-text);
}

.regularTxt {
  font-size: 12px;
  color: var(--black-text);
}

.detailFont {
  font-size: var(--detail-font);
  color: var(--gray-text);
}

.btn {
  height: 15px;
  width: 15px;
  border: 1px solid #9D9FAF;
}

.btns {
  display: flex;
  justify-content: space-between;
  width: 40px;
}

.orangeBtn {
  display: flex;
  align-items: center;
  background-color: #FF9F00;
  color: var(--white);
  font-size: 10px;
  width: 116px;
  height: 30px;
  border: none;
  border-radius: 7px;
}

.circle {
  width: 18px;
  height: 18px;
  border: 1px solid #BEC0C8;
  border-radius: 50%;
  background-color: var(--white);
}

.orange {
  background-color: #FF9F00;
}

.aqua {
  background-color: #4AC29D;
}

.magenta {
  background-color: #FF6860;
}

.lightOrange {
  background-color: #FFD999;
}

.blue {
  background-color: #689FF8;
}

.gray {
  background-color: #BCBECA;
}
