.rectangleSix {
    margin-left: 1.5%;
    background-color: #F5F6FC;
    display: flex;
    flex-direction: column;
    width: 252px;
    height: 768px;
}

.profilePic {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background-color: #C4C4C4;
}
.rectangleSeven {
    background-color: #F5F6FC;
    border: 1px solid red;
}

.nameSection {
    display: flex;
}

.storageDetail {
    display: flex;
}

.colorGradientTwo {
    background: linear-gradient(90deg, rgba(255,159,0,1) 19%, rgba(255,104,96,1) 35%, rgba(104,158,248,1) 100%);
    border-radius: 5px;
    width: 119px;
    height: 73px;
}